body {
  background-color: White;
}

h1 {
  p.double {border-style: double;}
  font-family: Serif;
  color: White;
  background-color: #003399;
  font-size: 80px;
}

h2 {
  font-weight: bold;
  font-style: italic;
  font-family: Serif;
  color: Black;
  font-size: 40px;
}

body {
  font-family: Monaco;
  color: Black;
  background-color: White;
  font-size: 25px;
}

/* Image formatting */
* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width:50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}

.column2 {
  float: left;
  width: 25%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Text in image */
figcaption {
  background-color: #bfbfbf;
  color: white;
  font-style: Serif;
  padding: 2px;
  text-align: center;
}

/* Navigation */
.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: dodgerblue;
  color: white;
}
