body {
  background-color: White;
}

h1 {
  p.double {border-style: double;}
  font-family: Serif;
  color: White;
  background-color: #003399;
  font-size: 80px;
}

h2 {
  font-weight: bold;
  font-style: italic;
  font-family: Serif;
  color: Black;
  font-size: 40px;
}

body {
  font-family: Monaco;
  color: Black;
  background-color: White;
  font-size: 25px;
}

/* Image formatting */
* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width:50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}

.column2 {
  float: left;
  width: 25%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Text in image */
.container1 {
  position: relative;
}

.text-block1 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
}

.container2 {
  position: relative;
}

.text-block2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
}

.container3 {
  position: relative;
}

.text-block3 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
}

.container4 {
  position: relative;
}

.text-block4 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
}
